<h1>Editing microspost</h1>

<%= render "form", microspost: @microspost %>

<br>

<div>
  <%= link_to "Show this microspost", @microspost %> |
  <%= link_to "Back to microsposts", microsposts_path %>
</div>
